@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes rise {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
} */

.animate-rise div {
  animation: rise 2s ease forwards;
}